@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
@layer components {
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: prixClipFix 2s linear infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }

  /* Inverted Border */

  .banner-inverted-border {
    position: relative;
  }

  .banner-inverted-border::before {
    z-index: 10;
    content: "";
    position: absolute;
    bottom: 60px;
    right: 0;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: transparent;
    box-shadow: 10px 10px 0 white;
  }
  html.dark .banner-inverted-border::before {
    box-shadow: 10px 10px 0 black;
  }

  .banner-inverted-border::after {
    z-index: 10;
    content: "";
    position: absolute;
    bottom: 0;
    right: 130px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: transparent;
    box-shadow: 10px 10px 0 white;
  }
  html.dark .banner-inverted-border::after {
    box-shadow: 10px 10px 0 black;
  }

  .card-inverted-border {
    position: relative;
    /* box-sizing: content-box; */
  }
  .card-inverted-border::before {
    margin-bottom: -0.9px;
    margin-right: -0.9px;
    z-index: 20;
    content: "";
    position: absolute;
    bottom: 60.8px;
    right: 0;
    border-bottom-right-radius: 8px;
    width: 17px;
    height: 17px;
    background: transparent;
    border-bottom: solid 0.8px rgb(209 213 219);
    border-right: solid 0.8px rgb(209 213 219);
    box-shadow: 10px 10px 0 white;
    /* box-shadow: 1px 1px 0 black; */
  }
  .card-inverted-border::after {
    margin-bottom: -0.9px;
    margin-right: -0.9px;
    z-index: 20;
    content: "";
    position: absolute;
    bottom: 0;
    right: 60.8px;
    border-bottom-right-radius: 8px;
    width: 17px;
    height: 17px;
    background: transparent;
    border-bottom: solid 0.8px rgb(209 213 219);
    border-right: solid 0.8px rgb(209 213 219);
    box-shadow: 10px 10px 0 white;
  }

  html.dark .card-inverted-border::before {
    border-bottom: solid 0.8px rgb(64 64 64);
    border-right: solid 0.8px rgb(64 64 64);
    box-shadow: 10px 10px 0 black;
  }
  html.dark .card-inverted-border::after {
    border-bottom: solid 0.8px rgb(64 64 64);
    border-right: solid 0.8px rgb(64 64 64);
    box-shadow: 10px 10px 0 black;
  }
}

@layer utilities {
  .category-sort .active {
    @apply border-b border-t border-black text-gray-700 dark:border-white dark:text-gray-300;
  }
}
